// POSITION  CLASS
.absolute {
    position:absolute;
}
.relative {
    position:relative;
}
.static {
    position:static;
}
.fixed {
    position:fixed;
}
// TOP - RIGHT - BOTTOM - LEFT
.top {
    top:0;
}
.right {
    right:0;
}
.bottom {
    bottom:0;
}
.left {
    left:0;
}