// Z-INDEX SCSS

// Z-INDEX POSITIVE
.z10 {
    z-index:10;
}
.z50 {
    z-index: 50;
}
.z500 {
    z-index: 500;
}
.z1000 {
    z-index: 1000;
}
.z1500 {
    z-index: 1500;
}
// Z-INDEX NEGATIVE
.z-10 {
    z-index:-10;
}