.summoner {
    &__chosen {
        @include rem(margin-bottom,10px);
        h3 {
            @include rem(line-height,32px);
            @include rem(padding-left,40px);
            @include font-size(2);
        }
    }
    &__menu {
        > ul {
            display: table;
            width:60%;
            border-bottom:solid 1px $color-header;
            > li {
                display: table-cell;
                width:10%;
                background:$color-block-dark;
                border-right:solid 1px $color-header;
                @include rem(padding,10px);
                @extend %transition-background-color;
                @extend %transition-medium;
                &:last-child {
                    border-right:none;
                }
                &:hover {
                    background-color: lighten($color-header,20);
                    color:darken($color-light,20);
                }
                &.is-active {
                    background-color: $color-light;
                    > a {
                        color:$color-header;
                    }
                }
                > a {
                    width:100%;
                    color:$color-light;
                    @include rem(height,35px);
                    @include font-size(1.6);
                }
            }
        }
    }
}

.profile__block {
    &__tier {
        &--DIAMOND {
            border-bottom:solid 3px $color-diamond;
            color:darken($color-diamond,30);
        }
        &--PLATINUM {
            border-bottom:solid 3px $color-platinum;
            color:$color-platinum;
        }
        &--GOLD {
            border-bottom:solid 3px darken($color-gold,30);
            color:darken($color-gold,30);
        }
        &--SILVER {
            border-bottom:solid 3px darken($color-silver,30);
            color:darken($color-silver,30);
        }
        &--BRONZE {
            border-bottom:solid 3px $color-bronze;
            color:darken($color-bronze,30);
        }
    }

    &__header {
        text-align: left;
        background: $color-header;
        color:$color-light;
        border-radius: 2px;
        @include rem(padding,10px);
        @include font-size(1.8);
        &--stats {
            background: $color-block;
            color:$color-dark;
            text-align: left;
            border-radius: none;
            @include rem(padding,5px);
            @include font-size(1.4);
        }
    }
    &__content {
        background: $color-block;
        color:$color-light;
        @include font-size(1.4);
        &--stats {
            padding:0;
            text-align: left;
        }
        &--summary {
            > div {
                @include rem(padding,5px);
                border-bottom:dashed 1px $color-dark;
                &:last-child {
                    border-bottom:none;
                }
            }
        }
        .l-col4 {
            margin:0!important;
            width:33.3%!important;
            @include rem(padding,10px);
            border-right:solid 1px darken($color-block,10);
            &:last-child {
                border-right:none;
            }
        }
    }
    .profile__recent__picture {
        display: inline-block;
        width:auto;
        > li {
            float:left;
            position: relative;
            display: inline-block;
            border-radius:2px;
            @include rem(width,100px);
            @include rem(height,100px);
            @include rem(margin,0 5px);
            div {
                @include font-size(1.3);
                font-weight: bold;
                margin:5px 0;
                &:last-child {
                    position:absolute;
                    bottom:0;
                    left:0;
                    right:0;
                }
            }
        }
    }
}


.summoner__table {
    @include font-size(1.4);
    ul {
        display: table;
        width:100%;
        > li {
            display: table-cell;
            width:5%;
            border-right:solid 1px $color-block;
            @include rem(padding,10px);
            &:last-child {
                border:none;
            }
        }
    }
}

.summoner__rankedstats {
    ul {
        &.summoner__table__header {
            background: $color-highlight;
        }
        > li {
            width:12.5%; 
        }
    }
}

.mastery {
    @include rem(padding,10px);
    background-color: $color-block-dark;
    &__page {
        @include font-size(1.8);
        @include rem(height,591px);
        background-color:$color-header;
        overflow-y:scroll;
        border:solid 3px $color-block;
        border-radius: 3px;
        &__list {
            > li {
                position: relative;
                border-bottom:solid 1px $color-block;
                text-align: center;
                background-color:$color-header;
                cursor: pointer;
                color:$color-light;
                @include rem(padding,10px 0);
                @extend %transition-background-color;
                @extend %transition-medium;
                &:hover {
                    background-color: lighten($color-header,20);
                    color:darken($color-light,20);
                }
                &.is-current {
                    &:after {
                        content: "\e610";
                        font-family: icomoon;
                        position:absolute;
                        top:5px;
                        left:5px;
                        @include font-size(1.2);
                    }
                }
                &.is-active {
                    background-color: $color-light;
                    color:$color-header;
                }
            }
        }
    } 
    &__tree {
        @include rem(width, 827px);
        @include rem(height, 479px);
        margin:50px auto 0 auto;
    }
    &__totalPoints {
        position: absolute;
        bottom:5px;
        right:10px;
        color:$color-light;
        @include font-size(1.8);
    }
}

.rg-mastery-trunk {
    position: relative;
    width:270px;
    margin:1px;
    height:479px;
    text-align: left;
    float:left;
    border-radius:3px;
    border:solid 3px darkgoldenrod;
    .mastery__item {
        border:solid 1px $color-dark;
        border-radius:3px;
        position: absolute;
        background-repeat: no-repeat;
        @include rem(width,48px);
        @include rem(height,48px);

/*        .mastery__description {
            display: none;
            position: absolute;
            right: -15px;
            bottom: -20px;
            border:solid 5px $color-gold;
            border-radius: 5px;
            background: $color-dark;
            min-width:300px;
            @include rem(padding,10px);
            @include font-size(1.4);
        }
        &:hover {
            .mastery__description {
                display:block;
            }
        }*/
    }
    .mastery__inactive {
        opacity:0.3;
        .mastery__ranks {
            opacity: 0.8;
            color:$color-action;
        }
/*        &:hover {
            .mastery__description {
                opacity: 1!important;
            }
        }*/
    }
    .mastery__ranks {
        position: absolute;
        bottom:-15px;
        left:7px;
        right:7px;
        padding:2px;
        border-radius:10px;
        color:$color-gold;
        border:solid 2px $color-gold;
        background-color: $color-dark;
        text-align: center;
        @include font-size(1);
    }
}


.top1 {
    top:16px;
}
.top2 {
    top:88px;
}
.top3 {
    top:160px;
}
.top4 {
    top:232px;
}
.top5 {
    top:304px;
}
.top6 {
    top:376px;
}


.left1 {
    left:16px;
}
.left2 {
    left:78px;
}
.left3 {
    left:138px;
}
.left4 {
    left:202px;
}