<!doctype html>
<html class="no-js" ng-app="lolApp">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <style>
        .ng-cloak {display:none;}
    </style>
  </head>
  <body ng-cloak class="ng-cloak">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container container--fixed container--menu bg-block-dark" ng-controller="HomeCtrl">
        <header class="screen--large">
            <nav class="nav l-row font-light big">
                <a ui-sref="home" class="l-col3 f-left">
                    <i class="icon-home">
                    </i>
                </a>
                <form class="l-col6" ng-submit="getSummoner(name,selectedRegion)">
                    <input type="text" ng-model="name" placeholder="Summoner name ..."/>
                    <select ng-model="selectedRegion" ng-options="k as k for (k,v) in summonerService.regions"></select>
                    <button class="button" type="submit">Search</button>
                </form>
                <ul class="l-col3 f-right">
                    <li>
                        <a ui-sref="champions">
                            Champions
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
    </div>
    <div class="container container--large">
        <div class="container container--wrapped">
            <div class="container container--scrollable">
                <div class="screen--large">
                    <div ui-view></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container container--fixed container--browse z10 bg-block-dark">
        <footer class="screen--large">
            Angular LolKing project
        </footer>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <!-- <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>
-->

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/highcharts-ng/dist/highcharts-ng.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/highcharts.js"></script>
        <script src="scripts/services/SummonerService.js"></script>
        <script src="scripts/services/ChampionService.js"></script>
        <script src="scripts/services/StaticDataService.js"></script>
        <script src="scripts/controllers/ChampionsCtrl.js"></script>
        <script src="scripts/controllers/SummonersCtrl.js"></script>
        <script src="scripts/controllers/HomeCtrl.js"></script>
        <script src="scripts/controllers/MasteriesCtrl.js"></script>
        <script src="scripts/filters/MainFilters.js"></script>
        <!-- endbuild -->
</body>
</html>
