<div class="l-row mastery">
    <div class="l-col2 mastery__page">
        <ul class="mastery__page__list">
            <li ng-repeat="mastery in summoner.masteries" class="ellipsis" ng-click="getMasteryPage($index);" ng-class="{'is-active': currentIndex == $index}">
                {{mastery.name}}
            </li>
        </ul>
    </div>
    <div class="l-col10">
        <div class="mastery__tree">
            <div ng-repeat="block in getBlockNumber(block) track by $index" class="rg-mastery-trunk block{{$index + 1}}" style="background:url(//lkimg.zamimg.com/images/mastery-tree-{{$index + 1}}.jpg);background-position:265px;">
                <div ng-repeat="mastery in masteries" class="top{{mastery.config.top}} left{{mastery.config.left}} mastery__item" style="background:url(http://ddragon.leagueoflegends.com/cdn/4.14.2/img/sprite/{{mastery.image.sprite}});background-position: -{{mastery.image.x}}px -{{mastery.image.y}}px; width:48px; height:48px; position:absolute;" ng-show="mastery.config.block == {{$parent.$index + 1}}" ng-class="{'mastery__inactive' : mastery.currentRank == 0}">
                    <div class="mastery__ranks">
                        {{mastery.currentRank}} / {{mastery.ranks }}
                    </div>
                    <div class="mastery__description">
                        <div ng-repeat="description in mastery.description">{{description}}</div>
                    </div>
                </div>
                <div class="mastery__totalPoints">
                    <span class="uppercase">{{getMasteriesPoints($index)}} : </span>
                    {{ summoner.masteries[currentIndex].points[getMasteriesPoints($index)] }} 
                </div>
            </div>
        </div>
    </div>
</div>