<div class="summoner__table summoner__rankedstats"> 
    <ul class="l-row summoner__table__header">
    	<li>
    		Champion
    	</li>
    	<li>
    		Wins
    	</li>
    	<li>
    		Losses
    	</li>
    	<li>
    		Wins %
    	</li>
    	<li>
    		Kills /game
    	</li>
    	<li>
    		Deaths / game
    	</li>
    	<li>
    		Assists / game
    	</li>
    	<li>
    		Creeps / game
    	</li>
    </ul>
    <ul class="l-row summoner__table__content" ng-repeat="rankedstats in summoner.rankedStats" ng-if="rankedstats.name">
    	<li>
    		{{rankedstats.name}}
    	</li>
    	<li>
    		{{rankedstats.stats.totalSessionsWon}}
    	</li>
    	<li>
    		{{rankedstats.stats.totalSessionsLost}}
    	</li>
    	<li>
    		{{rankedstats.winRate}} %
    	</li>
    	<li>
    		{{rankedstats.statsByGame.totalChampionKills}}
    	</li>
    	<li>
    		{{rankedstats.statsByGame.totalDeathsPerSession}}
    	</li>
    	<li>
    		{{rankedstats.statsByGame.totalAssists}}
    	</li>
    	<li>
    		{{rankedstats.statsByGame.totalMinionKills}}
    	</li>
    </ul>
</div>